body {
    font-family: Futura, sans-serif;
    margin: 0;
    
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcompleteprojectresource.com%2Fcontact-us-form-background%2F&psig=AOvVaw2FXjBmj3w0BdK8-QNJ0EoG&ust=1694879914649000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKjx8e_9rIEDFQAAAAAdAAAAABAY);
    background-size: cover;
    background-position: center;
      
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .form-container {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcompleteprojectresource.com%2Fcontact-us-form-background%2F&psig=AOvVaw2FXjBmj3w0BdK8-QNJ0EoG&ust=1694879914649000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKjx8e_9rIEDFQAAAAAdAAAAABAY);
    background-size: cover;
    background-position: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  h1 {
    font-family: Futura, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #d0c5c5;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  h2#location {
    text-align: center;
    border: 10px solid #ccc;
    border-radius: 50px;
  }
  
  
  
  form {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input,
  textarea,
  select {
    font-family: Futura, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .contact-us {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
  }
  
  
  input[type="submit"]:hover {
    background-color: #333;
  }
  .error {
    color: red;
  }